body,
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.info {
    background-color: #1500ff;
    color: white;
    padding: 10px 20px;
    top: 0;
    width: 100%;
    position: relative;
}
.back{
    position: absolute;
    top: 0;
    left: 3px;
    z-index: 5;
}
.back a{
    color: #ffffff;
}
.back a:hover{
    cursor: pointer;
    color: #ccc;
}
.info h1 {
    margin: 35px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.coursesbody {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    border: solid 2px #ffffff;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 3;
}
.registration-container{
    background: linear-gradient(135deg, #ffffff, #f0f4ff);
    border-left: 6px solid #0078d4;
    border-right: 6px solid #0078d4;
    width: 100%;
    padding: 77px;
    position: relative;
    top:79px;
    border-radius: 12px;
    margin-top: 51px;
}
.registration-container h3{
    font-size: 32px;
}
#result, #course-result, #medical-result{
    position:absolute ;
    right: 0;
    top:50px;
}

.fa-check-circle, .fa-times{
    font-size: 120px;
    opacity: 0.3;
}